@font-face {
    font-family: logo;
    src: url('Agustina.otf') format("otf");
}

#logoFont{
    font-family: logo;
    font-family: 'Indie Flower', cursive;
}

/* @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
         url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  } */

  @media (min-width: 768px) {
    .d-md-block {
       display: block!important;
    }
  }
  
    .d-none {
       display: none!important;
    }

.background {
    background-image: url(brain.png);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-size: cover;
}
